<!DOCTYPE html>
<html>

<head>
    <title>Ingresar</title>
     <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/form-style.css">
</head>

<body>
    <main class="login-main">
        <section class="form-left">
            <form action="/session/login" method="post">
                <h1>Ingresar</h1>
                <label for="email" class="label">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required class="input">
                <br>
                <label for="password" class="label">Contraseña:</label>
                <input type="password" id="password" name="password" required class="input">
                <br>
                <input type="submit" value="Ingresar" class="primary-btn">
                <span class="account-options">
                    No tengo cuenta<a href="/session/register"> Crear cuenta</a>
                </span>
                <span class="account-options">¿Olvido su contraseña? puede restablecerla <button onclick="restorePassword()">Aqui</button></span>
            </form>
            {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
            {{/if}}
        </section>
        <section class="form-right">
            <img src="/images/logo.svg" class="logo-right-form" />
            <img src="/images/shop-person.svg" />
        </section>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function restorePassword() {
            Swal.fire({
                text: 'Ingresa tu correo para restaurar la contraseña',
                input: 'text',
                inputValidator: value => {
                    return !value && 'NO enviaste un correo electronico'
                }
            }).then(async result => {
                try {
                    const email = result.value
                    const response = await fetch('/session/passwordRestoreRequest', {
                        method: 'POST',
                        body: JSON.stringify({ email }),
                        headers: {
                            "Content-type": 'application/json'
                        }
                    }).then((result) => {
                        if (result.ok) {
                            Swal.fire({
                                text: 'Se te enviara un correo'
                            })
                        }
                    })
                }
                catch (err) {
                    console.error(err)
                }
            })
        }
    </script>
</body>

</html>