<div>
    <form id="form">
        <label for="password">Nueva contraseña</label>
        <input name="password"/>
        <button>Enviar</button>
    </form>

    <script>
        const urlParams = new Proxy(new URLSearchParams(window.location.search), {
            get: (search, prop) => search.get(prop)
        })
   
        const form = document.getElementById('form')
        form.addEventListener('submit', async (e) =>{
            e.preventDefault()
            const user = {password: form.password.value, token: urlParams.token}
            await fetch('/session/passwordRestore', {
                        method: 'PUT',
                        body: JSON.stringify(user),
                        headers: {
                            "Content-type": 'application/json'
                        }
            }).then(res => window.location.href = '/')
        })
    </script>
</div>